* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #ECEEF1;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    color: #505050;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    '. . header'
    '. main .'
    '. footer .';
    
}


.header {
    grid-column: 1/span 3;
    grid-area: header;
    height: 10vh;
}

.signin-header {
    display: flex;
    padding: 10px;
}

.signin-header > span {
    flex: 3;
    text-align: right;
    margin-right: 15px;
}


.signin-header > button {
    flex: 1;
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}

.signin-header > button:hover {
    opacity: 0.8;
}


.signin-header > span > a {
    font-size: small;
}

.signin-header > span > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main {
    grid-column: 1/span 3;
    border: 1px solid black;
    grid-area: main;
    height: 80vh;
}

.footer {
    grid-column: 1/span 3;
    border: 1px solid black;
    grid-area: footer;
    height: 10vh;
}

.blue {
    color: #0077C5;
}