* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #ECEEF1;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    color: #505050;
    
}


.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    '. . header'
    '. main .'
    'footer footer footer';
    
}


.header {
    grid-column: 1/span 3;
    grid-area: header;
    height: 10vh;
}

.signin-header {
    display: flex;
    padding: 10px;
}

.signin-header > span {
    flex: 3;
    text-align: right;
    margin-right: 15px;
}


.signin-header > button, button[type="submit"] {
    flex: 1;
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}

button[type="submit"] {
    width: 100%;
    margin-left: 0;
    padding: 15px;
    font-size: large;
    letter-spacing: 2px;
    
}

.signin-header > button:hover {
    opacity: 0.8;
}


.signin-header > span > a, .form-headings > a {
    font-size: small;
    text-decoration: none;
}
.form-headings > h1 {
    margin-bottom: 10px;
}

.signin-header > span > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main {
    grid-column: 1/span 3;
    grid-area: main;
    height: auto;
}

.logo {
    display: flex;
}

.logo > img{
    height: 40px;
    width: auto;
    margin: auto;
    justify-content: center;
    margin-top: 10px;
}

.brands {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.brands > img {
   
    width: auto;
    height: 25px;
  
}

.form-wrapper {
    background: #fff;
    padding: 50px;
    color: #4C4C4C;
    border-width: 1px 1px 0 1px;
    border-color: #c7c7c7;
    border-style: solid;
    border-radius: 2px 2px 0 0;
}

.form-headings {
    text-align: center;
}

fieldset {
    border: none;
    margin-top: 20px;
}

fieldset > div > label > input{
    display: block;
    text-align: left;
    margin-bottom: 15px;
    border: 1px solid #C1C5C8;
    height: 30px;
    border-radius: 2px;
    width: 100%;
    margin-top: 15px;
}

fieldset > div > label > input[type='phone']{
    margin-bottom: 0;
}

fieldset > div {
    margin-top: 30px;
}

.helper-text {
    font-size: small;
    margin-bottom: 15px;
}

.submit-btn {
    margin-top: 15px;
}

.disclaimer, .form-wrapper-footer {
    font-size: small;
    text-align: center;
}

.disclaimer {
    margin-top: 35px;
}

.form-wrapper-footer {
    height: 50px;
    background-color: #ECEEF1;
    color: #8d9096;
    border-width: 0 1px 1px 1px;
    border-color: #c7c7c7;
    border-style: solid;
    border-radius: 0 0 2px 2px;
    padding: 30px;
    margin-bottom: 30px;
}


fieldset > input {

    width: 100%
}

.footer {
    grid-column: 3/span 3;
    font-size: small;
    grid-area: footer;
    height: 10vh;
    text-align: center;


}

.blue {
    color: #0077C5;
}